/* camon */
.container {
  width: 100%;
  max-width: 320px;
  padding: 0 12px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1336px;
  }
}

.paragraf_advantages {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #030a06;
  margin-bottom: 12px;
  margin-top: 32px;
}
.title_advantages {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #030a06;
  margin-bottom: 20px;
}

.title_paragraf {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
  margin-bottom: 48px;
}

.item_advantages {
  margin-bottom: 48px;
}

.photo_advantages {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 32px;
  margin-bottom: 8px;
}

.title_img {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #030a06;
  margin-bottom: 4px;
}
.paragraf_img {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
}

@media screen and (min-width: 768px) {
  .paragraf_advantages {
    margin-bottom: 16px;
  }

  .title_advantages {
    margin-bottom: 24px;
  }

  .title_paragraf {
    font-size: 18px;
    margin-bottom: 32px;
  }
  .list_advantages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 24px;
  }

  .item_advantages {
    flex: 1 1 calc(50% - 12px);
  }

  .item_advantages:nth-child(3) {
    flex: 1 1 100%;
  }

  .title_img {
    margin-bottom: 8px;
  }

  .photo_advantages {
    width: 100%;

    object-fit: cover;
    border-radius: 32px;
    display: block;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .title_advantages {
    font-size: 48px;
  }
  .title_paragraf {
    max-width: 768px;
    margin-bottom: 80px;
  }

  .title_img {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .list_advantages {
    flex-wrap: nowrap;
  }
  .item_advantages {
    flex: 1 1 calc(33.333% - 16px);
  }
  .item_advantages:nth-child(3) {
    flex: 1 1 calc(33.333% - 16px);
  }
}
