.assortment-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.assortment-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.assortment-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 531px;
}

.assortment-image {
  border-radius: 32px;
  margin-bottom: 16px;
}

.assortment-name {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
}

.assortment-txt {
  text-align: center;
  margin-bottom: 8px;
}

.assortment-cost {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

.assortment-btn {
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 288px;
  background-color: transparent;
}

.assortment-title {
  text-align: center;
  margin-bottom: 32px;
}

/* Media */
@media (min-width: 768px) {
  .tabp {
    font-size: 16px !important;
  }

  .assortment-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }

  .assortment-item {
    min-height: 593px;
    max-width: 340px;
  }

  .bag-dinner {
    margin-bottom: 38px;
  }

  .pocket {
    display: none;
  }
}

@media (min-width: 1440px) {
  .assortment-title {
    font-size: 48px;
  }

  .assortment-list {
    row-gap: 72px;
  }

  .assortment-item {
    max-width: 310px;
    min-height: 557px;
  }

  .bag-child {
    margin-bottom: 38px;
  }
}