.assortment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.assortment-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 0;
}

.assortment-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.assortment-image {
  border-radius: 32px;
  width: 288px;
  min-height: 345px;
  margin-bottom: 16px;
}

.assortment-name {
  font-weight: 600;
  font-size: 18px;

  /* line-height: 29px; */
  line-height: 160%;
  text-align: center;
  color: #030a06;
}

.assortment-txt {
  font-weight: 400;
  font-size: 14px;

  /* line-height: 22px; */
  line-height: 160%;
  text-align: center;
  color: #030a06;
  margin-bottom: 8px;
}

.assortment-cost {
  font-weight: 600;
  font-size: 20px;

  /* line-height: 32px; */
  line-height: 160%;
  text-align: center;
  color: #030a06;
  margin-bottom: 16px;
}

.assortment-btn {
  border: 1px solid #030a06;
  border-radius: 6px;
  padding: 8px 20px;
  width: 288px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 40px;
  /* line-height: 26px; */
  line-height: 160%;
  color: #030a06;
  background-color: transparent;
}

.assortment-title {
  text-align: center;
  margin-bottom: 32px;
}

/* Media */
@media (min-width: 768px) {
  .tabp {
    font-size: 16px !important;
  }

  .assortment-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 48px;
    padding: 0;
  }

  .assortment-item {
    width: calc((100% - 24px) / 2);
    height: 593px;
    min-width: 300px;
  }

  .assortment-image {
    min-width: 340px;
    margin-bottom: 16px;
  }

  .assortment-txt {
    width: 340px;
  }

  .assortment-btn {
    margin-bottom: 48px;
  }

  .bag-dinner {
    margin-bottom: 38px;
  }

  .pocket {
    display: none;
  }
}

@media (min-width: 1440px) {
  .assortment-title {
    font-size: 48px;
  }

  .assortment-list {
    width: 1320px;
    column-gap: 24px;
    row-gap: 72px;
    margin-left: 0;
    margin-right: 0;
  }

  .assortment-item {
    width: calc((100% - 72px) / 4);
  }

  .assortment-image {
    min-width: 310px;
    margin-bottom: 16px;
  }

  .assortment-txt {
    width: 310px;
  }

  .bag-child {
    margin-bottom: 38px;
  }

  .assortment-btn {
    margin-bottom: 64px;
  }
}
