/* ///////////////////////////// */

/* ////// 6 - SECTION - FEEDBACKS  //////// */

.second-title-advantages {
  font-size: 36px;
  text-align: center;
  margin-bottom: 32px;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.stars {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin-bottom: 12px;
}

.star,
.star-filler {
  fill: #3ac04c;
  width: 24px;
  height: 24px;
}

.advantages-p {
  font-family: Comfortaa;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.01em;
  /* margin-top: 12px auto; */
  margin-bottom: 12px;
  color: #030a06;
}

.avatar {
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 32px;
  }

  .advantages-p {
    width: 340px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .advantages-list {
    gap: 24px;
    flex-wrap: nowrap;
  }

  .second-title-advantages {
    width: 560px;
    font-size: 48px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 80px;
  }

  .advantages-p {
    height: 84px;
    width: 310px;
    margin-bottom: 24px;
  }
}
