.contact-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-image {
  border-radius: 40px;
}

.contact-title {
  margin-bottom: 24px;
}

.contact-subtitle {
  margin-bottom: 32px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 8px;
}

.form-input,
.form-textarea {
  border: 1px solid rgba(3, 10, 6, 0.15);
  border-radius: 6px;
  padding: 12px;
  background: rgba(3, 10, 6, 0.05);
}

.form-input {
  height: 42px;
}
.form-input:focus,
.form-input:hover{
  color: rgba(3, 10, 6, 0.6);
}
.form-input:active{
  color: #030a06;
}
.form-input:disabled{
  color: #d64040;
}
.form-textarea {
  min-height: 120px;
}

.error-message {
  display: none;
  font-size: 14px;
  color: #ff4d4f;
  margin-top: 6px;
}

.form-input:invalid + .error-message,
.form-textarea:invalid + .error-message {
  display: block;
}

.form-button {
  max-width: 288px;
  color: #fff;
  background: #030a06;
  padding: 12px 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
  opacity: 0.5;
}

.form-button:active {
  background: #113916;
  opacity: 0.6;
}

.form-button:disabled {
  opacity: 0.2;
}

.contact-image-wrapper {
  background-image: url(/img/support/contact-phone.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
  width: 288px;
  height: 428px;
}
@media screen and (min-resolution: 2dppx) {
  .about {
    background-image: url(/img/support/contact-phone@2x.jpg);
  }
}

@media (min-width: 768px) {
  .contact-content {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    text-align: left;
    gap: 32px; 
  }

  .form-textarea {
    min-height: 180px;
  }

  .contact-image-wrapper {
    background-image: url(/img/support/contact-tab.jpg);
    width: 704px;
  }

  @media screen and (min-resolution: 2dppx) {
    .about {
      background-image: url(/img/support/contact-tab@2x.jpg);
    }
  }
}
@media (min-width: 1440px) {
  .contact-container {
    flex-direction: row;
  }

  .contact-title {
    font-size: 48px;
  }

  .contact-subtitle {
  font-size: 18px;
  }

  .contact-content {
    flex-direction: row; 
    align-items: flex-start;
    justify-content: space-between;
    gap: 48px;
  }

  .form-textarea {
    min-height: 214px;
  }

  .form-button {
    max-width: 198px;
  }

  .contact-image-wrapper {
    background-image: url(/img/support/contact-desktop.jpg);
    width: calc((1312px - 24px) / 2);
    height: 767px;
  }
  .contact-form-wrapper {
    width: calc((100% - 24px) / 2);
  }

  @media screen and (min-resolution: 2dppx) {
    .about {
      background-image: url(/img/support/contact-desktop@2x.jpg);
    }
  }
}
